@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
  --font-sans: "Instrument Sans", -apple-system, sans-serif;
  --font-mono: "IBM Plex Mono", monospace;

  --color-purple-50: #f5edff;
  --color-purple-100: #e8d9ff;
  --color-purple-200: #d5b0ff;
  --color-purple-300: #bd86ff;
  --color-purple-400: #c364fa;
  --color-purple-500: #a95ef8;
  --color-purple-600: #7f3ae9;
  --color-purple-700: #3c00b3;
  --color-purple-800: #2d0089;
  --color-purple-900: #22005f;
  --color-purple-950: #16003d;

  --animate-shimmer: shimmer 8s ease-in-out infinite alternate;

  @keyframes shimmer {
    0% {
      background-position: 0% center;
    }
    100% {
      background-position: 200% center;
    }
  }
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-muted: var(--ui-color-neutral-900);
  --ui-bg-elevated: var(--ui-color-neutral-900);
  --ui-bg-accented: var(--ui-color-neutral-800);
  --ui-border: var(--ui-color-neutral-900);
}
